/* body{background:#ffff00;} */

*{margin:0px; padding:0px}

#wrap{height:210px; width:770px;}

#menu{height:210px; width:140px;}

#title{height:140px; width:210px;}



.box3_11{height:210px; width:770px;}
.box3_1{height:210px; width:70px;}
.box1_1{height:70px; width:70px;}
.box3_3{height:210px; width:210px;}


.color1{background:#ff9900;}
.color2{background:#ffcc00;}
.color3{background:#ffff99;}


.fl{float:left;}






