body{font:0.95 '맑은 고딕', sans-serif; }
/* font size는 적용안되고 color는 적용이 된다 */


#box1 h2{word-spacing:20px; text-align:center; letter-spacing:-1px;}

#box1 p{letter-spacing:5px; line-height:200%;}


#box2 h2{text-transform:uppercase;}
#box2 p{text-indent:10%; text-decoration:underline;}


