li:first-child{color: pink ; background-color:brown; width:500px;
padding:5px; }

li:nth-child(even) {color:brown; background-color:silver; width:
500px; padding:5px}

li:nth-child(odd) {color:brown; background-color:red; width:
500px; padding:5px}


li:nth-child(3n+3) {color:brown; background-color:blue; width:
500px; padding:5px}

li:last-child{color: pink ; background-color:green; width:500px;
padding:5px; }

