*{margin:0px; font-family:'맑은 고딕','Times New roman', sans-serif;}
body{border-bottom-style:solid; border-width:15px; border-color:
#000000;}

h1{text-align:center; border-top-style:solid; border-top-width:20px;
border-top-color:#ff3333;}
div{margin:20px auto; width:70%; border:15px double #669933;}
	p{padding:10px; border-bottom:1px dashed #003300;}
	.removeLine{border-style:none;}
	