/* body{background:red;} */

*{margin:0; padding:0}



.box3_11{ width:770px; height:210px ;background:red; }
.menu{width:140px; height:210px; background:#e6e6e6}


.box3_1{ width:70px; height:210px ;background:#ff9801; }
.box3_3{ width:210px; height:210px ;background:#ff9900; }
.box1_3{ width:70px; height:210px ;background:#ffffff}

.box1_1{ width:70px; height:70px ; }


.color1{ width:70px; height:70px ;background:#ffff9a; }
.color2{ width:70px; height:70px ;background:#ffcc01; }
.color3{ width:70px; height:70px ;background:#ff9801; }


.fl{float:left;}
.fr{float:right;}