@charset 'utf-8';
/* body{background: red;} */
/* 초기화코드 */
*{margin: 0; padding: 0;}
body{font-family: 'Times New Roman', serif;}
ul, li{list-style: none;}
img{border: 0;}
.cf:after{content: ''; display: block; clear: both;}

/* 헤더 */
#main_header{width: 960px; margin: 0 auto; height: 160px; position: relative;}
	#title{position: absolute; left: 20px; top: 30px;}
	#title{font-family: 'Henny Penny', cursive;}
	#main_gnb{position: absolute; right: 0; top: 0;}
	#main_lnb{position: absolute; right: 0; bottom: 10px;}

/* 글로벌 메뉴	 */
#main_gnb > ul {overflow: hidden;}
#main_gnb > ul > li{float: left;}
#main_gnb > ul > li > a{display: block; padding: 2px 10px; border: 1px solid #000000; text-decoration: none; border-right: none;}
#main_gnb > ul > li > a:hover{background: orange; color: white; text-decoration: underline;}
#main_gnb > ul > li:first-child > a{border-radius: 4px 0 0 4px;}
#main_gnb > ul > li:last-child > a{border-radius: 0 4px 4px 0;}
#main_gnb > ul > li.last > a{border-right: 1px solid #000000;}

/* 로컬 메뉴	 */
#main_lnb > ul {overflow: hidden;}
#main_lnb > ul > li{float: left;}
#main_lnb > ul > li > a{display: block; padding: 10px 20px; border: 1px solid #000000; text-decoration: none; border-right: none;}
#main_lnb > ul > li > a:hover{background: orange; color: white; text-decoration: underline;}
#main_lnb > ul > li:first-child > a{border-radius: 10px 0 0 10px;}
#main_lnb > ul > li:last-child > a{border-radius: 0 10px 10px 0;}
#main_lnb > ul > li.last > a{border-right: 1px solid #000000;}

/* 컨텐츠 */
#content {width: 960px; margin: 0 auto; overflow: hidden;}
	#main_section{width: 750px; float: left;}
	#main_aside{width: 204px; float: right;}

/* 본문	 */
.main_article{margin-bottom: 10px; padding: 20px; border: 1px solid black;}

/* aside 사이드 메뉴 */
/* 첫번째 탭 */
input:nth-of-type(1) {display: none;}
input:nth-of-type(1) ~ div:nth-of-type(2) {display: none;}
input:nth-of-type(1):checked ~ div:nth-of-type(2) {display: block;}

/* 두번째 탭 */
input:nth-of-type(2) {display: none;}
input:nth-of-type(2) ~ div:nth-of-type(3) {display: none;}
input:nth-of-type(2):checked ~ div:nth-of-type(3) {display: block;}

.buttons{overflow: hidden;}
.buttons > label{display: block; float: left; width: 100px; height: 30px; text-align: center; box-sizing: border-box; border: 1px solid black; background: black; color: white; line-height: 30px;}
input:nth-of-type(1):checked ~ .buttons > label:nth-of-type(1){background: orange; color: white;}
input:nth-of-type(2):checked ~ .buttons > label:nth-of-type(2){background: orange; color: white;}
.buttons > label{cursor: pointer;}
.buttons > label.last{float: right;}

/* 목록 */
.item{overflow: hidden; padding: 10px; border: 1px solid black; border-top: none;}
.thumbnail{float: left;}
.description{float: left; margin-left: 10px;}
.description > strong{display: block; width: 120px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

/* 푸터 */
#main_footer{width: 960px; margin: 0 auto; margin-bottom: 10px; box-sizing: border-box; padding: 10px; border: 1px solid black; text-align: center;}

















