@charset 'utf-8';
*{margin: 0; padding: 0; border: 0}
body{color: #404040; font: 13px/1.6 '맑은 고딕', Arial, sans-serif;}
 
#menu_bar ul, #menu_bar li{list-style: none;}

#menu_bar a{display: block; padding: 10px 30px 15px 30px; margin-right: 1px; background-color: #292929; color: #888888; text-transform: uppercase; float: left; text-decoration: none;}

#menu_bar a:hover{padding-bottom: 10px; border-bottom: 5px solid #ff9900; color: #ffffff;}