body{font: 0.8em '맑은고딕', '돋움', sans-serif; margin: 100px 50px; }
h1:before{content: open-quote;}
h1:after{content: "*****" close-quote;}

p{white-space: pre; counter-increment: myIndex;}
p:before{content: counter(myIndex, upper-roman); font-size: 2em; color: red;}
q{quotes: "<<"    ">>"    "["    "]";}
.qStyle{quotes: "//"  "//"; color: green;}

