body{margin: 0px;}	
body{background-color: silver; background-image: url(../images/bg0.png); background-repeat: repeat-y; background-position:  top right; background-attachment: scroll;}

div{background: url(../images/bg1.png) repeat-y fixed top left;}

p{background: #000000 url(../images/dot.png) repeat-x bottom left; font-family: 'Times New Roman', serif; font-size: 1.2em; color: #ffffff; margin-left: 70px;}
	
	
	
	
	
	
	
	
	
	
	
