#header{width: 900px; height: 500px; background: #ffff00; margin: 0 auto;}
#box1{width: 100px; height: 100px; background: #ff0000; opacity: 0.5;}
#box2{width: 100px; height: 100px; background: #00ff00; /* display: none; */ visibility: hidden;}
#box3{width: 100px; height: 100px; background: #0000ff;}