#memberBox{color: #606060; border: 1px solid #b7b7b7; text-align: center; background: #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ededed));
	background: -moz-linear-gradient(top, #ffffff, #ededed);
	width: 400px; padding: 20px; margin: 50px auto;
}
.btnOrange{cursor: pointer; text-align: center; font-size: 1.5em; border-radius: 0.8em;
padding: .5em 2em .55em; text-shadow: 0 1px 1px rgba(0,0,0, .5); color: #fef4e9; border: solid 1px #da7c0c;
background: #ffc578; 
background: -moz-linear-gradient(top,  #ffc578 0%, #fb9d23 100%);
background: -webkit-linear-gradient(top,  #ffc578 0%,#fb9d23 100%);
background: linear-gradient(to bottom,  #ffc578 0%,#fb9d23 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=0 );
}
.btnOrange:hover{
background: #fb9d23;
background: -moz-linear-gradient(top,  #fb9d23 0%, #ffc578 100%);
background: -webkit-linear-gradient(top,  #fb9d23 0%,#ffc578 100%);
background: linear-gradient(to bottom,  #fb9d23 0%,#ffc578 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb9d23', endColorstr='#ffc578',GradientType=0 );
}

















