*{margin:0 ; padding:0}
html{overflow-y:scroll;}
img{border:0;}

#box1{background:#ff6699; overflow:hidden; height:200px}
#box2{background:#ffcc99; overflow:auto; height:200px;}
#box3{background:#33ccff; overflow-y:scroll; height:200px;}
#box4{position:relative; background:#66cc33; height:
400px; clear:left;}
#box4 h1{position:absolute; clip:rect(0px,200px,150px,0px);}
/*(x1,y1,x2,y2)*/
/*(y1,x1,y2,x2)*/
#box5 {position:relative; background:%cc99ff; height:400px;}
#box5 h1{position: absolute; clip:rect(150px, 200px,400px,0px);}


