#titlePage{position: absolute; top: -10px; left: 0px;}
div {width:342px;height:150px;}
#book1{background: url(../images/bg_sm01.png) no-repeat; position: absolute; top: 50%; left: 50%; margin-top: -75px; margin-left: -171px;}
#book2{background: url(../images/bg_sm02.png) no-repeat; position: absolute; top: 0%; right: 0%;}
#book3{background: url(../images/bg_sm03.png) no-repeat; position: absolute; bottom: 0%; right: 0%;}
#book4{background: url(../images/bg_sm04.png) no-repeat; position: absolute; bottom: 0%; left: 0%;}





