#bookInfo{margin:20px auto; display:table; border-spacing:3px;}

#bookInfo li {display:table-cell; width:150px;
background-color:#666666; padding:10px; color:#ffffff;
text-align:center;}

#bookCon{display:table; border-collapse:collapse; margin:
0px auto;}
#bookCon dt, #bookCon dd{display: table-cell; bolder:1px
solid #999999; padding:10px;}
#bookCon dt{background-color: #9999; width: 100px;
text-align:center; vertical-align:middle;}
#bookCon dd{width:200px; line-height: 150%;}

