#nav{list-style: none; height: 45px; padding: 6px 7px; margin: 0; background: #7d7d7d; border-radius: 1.5em;}
#nav li{float: left; position: relative; margin: 5px 10px; padding: 0;}
#nav li a{display: block; font-family: '굴림', sans-serif; font-weight: 600; font-size: 1em; padding: 10px 20px; color: #e7e7e7; text-decoration: none; margin: 0; border-radius: 1.4em; text-shadow: 0 1px 1px rgba(0,0,0,.3);}
#nav li:hover > a{background: #ebebeb; color: #444444; text-shadow: 0 1px 1px rgba(0,0,0,.2); box-shadow: 0 1px 1px rgba(0,0,0,.2);}
#nav ul{margin: 0; padding: 0; list-style: none; position: absolute; left: 0; top: 45px; width: 150px; background: #dddddd; border: 1px solid #b4b4b4; border-radius: 8px; box-shadow: 0 1px 3px rgba(0,0,0,0.3); opacity: 0;}
#nav li:hover ul{opacity: 1;}
#nav ul li{float: none; margin: 0; padding: 0;}
#nav ul a{font-weight: normal; text-shadow: 0 1px 0 #ffffff; color: #333333; border-radius: 0;}
#nav ul li:hover a{background: #0078ff; color: #ffffff; text-shadow: 0 1px 1px rgba(0,0,0,0.1);}
#nav ul li:first-child > a{border-radius: 9px 9px 0 0;}
#nav ul li:last-child > a{border-radius:  0 0 9px 9px;}

























