html{overflow-y: scroll;}
*{margin: 0; padding: 0;}
body{font-family: '맑은 고딕', '돋움', sans-serif; font-size: .9em; letter-spacing: -0.1em;}
ul, li{list-style: none;}
a{text-decoration: none;}
img{border: 0;}

.fl{float: left;}
.fr{float: right;}
.cb{clear: both;}
.cf:after{content: ''; display: block; clear: both;}

#headerLnb{position: relative; float: left; margin-left: 500px; margin-top: 50px; width: 780px; height: 40px;}
	#headerLnb > ul > li{float: left; font-weight: bold; padding: 6px 3px;}
	#headerLnb > ul > li > a{display: block; padding: 7px 10px; margin: 0 20px; color: #7db9dd; font-size: 1.2em; letter-spacing: -0.1em; text-shadow: 1px 1px 1px #dddddd; }
	#headerLnb > ul > li > a:hover{color: #0059b3;}
	
/* 2depth start	 */
#nav li ul{position: absolute; line-height: 25px; left: 20px; top: 45px; background: #7db9bd; margin: 0; padding-bottom: 3px; display: none;}

#nav li:hover ul{display: block;}
#nav ul.menu1{left: 18px;}
#nav ul.menu2{left: 18px;}
#nav ul.menu3{left: 18px;}
#nav ul.menu4{left: 18px;}
#nav ul.menu5{left: 18px;}

#nav li ul li{float: left; margin: 0;}
#nav li ul li a{display: block; color: #f0eceb; padding: 2px 10px; text-align: center;}
#nav li ul li a:hover{color: #3a75ad;}


























