.parent{position: relative; background: #ffff00; width: 800px; margin: 0 auto; height: 500px;}

.child{width: 100px; height: 100px; background: #ff00ff; }
.first{background: #ff0000;margin-bottom: 200px;}
.last{background: #0000ff; height: 100px; margin-top: 150px;}




















